			:root {
			--backgroundcolor : #5290ba ;
			--frontcolor : #fad157 ;
			--titleshadowcolor : var(--backgroundcolor) ;
			--shadowcolor : #000000 ;
			--titlecolor : #ffffff ;
			--textcolor : #437ca3 ;
			--bordercolor :  #ffffff ;
			}
			
			body{
			font-family : Arial  ;
			color : var(--textcolor) ;
			background: var(--backgroundcolor) ;
			text-align : center ;
			}
			
			h1{
			text-align : center ;
			font-size: 2.9em;
			}
			
			h2{
			color : var(--titlecolor) ;
			text-shadow: 2px 2px var(--titleshadowcolor);
			font-size: 2.1em;
			}
			
			h3{
			text-shadow: 2px 2px var(--titleshadowcolor);
			font-size: 1.75em;
			}
			
			h6{
			text-shadow: 0.5px 0.5px var(--titleshadowcolor);
			}
			
			p{
			text-shadow: 1px 1px var(--titlecolor) ;
			font-size: 1.5em;
			}
			
			ul{
			text-align : left ;
			font-size: 1.3em;
			}
			
			table, th, td{
			border-collapse : collapse ;
			height : 100% ;
			width : 100% ;
			color : var(--textcolor) ;
			border: 1px solid var(--bordercolor);
			}
			
			img{
			width : 70% ;
			}
			
			
			.git:hover {
			color : #b58adb ;
  			background-color: transparent;
   			ext-decoration: underline;
			}
			
			th:nth-child(2) {
			border-left: solid 7px #62a9d9;
			}
			
			a:link {
			color : #551A8B ;
			background-color: transparent;
  			text-decoration: none;
			}
			
  			a:visited {
			color : #551A8B ;
   			background-color: transparent;
  			ext-decoration: none;
  			}
			
  			a:hover {
			color : #b58adb ;
  			background-color: transparent;
   			ext-decoration: underline;
  			}
			
  			a:active {
   			color: var(--textcolor);
  			background-color: transparent;
    		text-decoration: underline;
  			}
			
			.collapsible{
			background-color: var(--frontcolor);
			color: var(--textcolor);
			border : 1px solid var(--bordercolor);
			cursor: pointer;
			width: 70%;
			height : 110px ;
			text-align: center;
			outline: none;
			font-size: 15px;
			}
			
			.collapsible:hover{
			background-color: #fce7a9;
			}
			
			.content{
			border : 1px solid var(--backgroundcolor);
			text-shadow: 1px 1px var(--shadowcolor);
			color : var(--textcolor) ; 
			text-align : left ;
			width : 70% ;
			margin : auto ;
			background-color: var(--frontcolor);
			max-height : 0 ;
			overflow : hidden;
			transition : max-height 0.1s ease-out;
			}
			
			.content h3, p{
				margin-left : 20px ;
			} 		
			
			.title-group{
			display : grid ;
			grid-template-columns: auto auto auto;
			text-align : center ;
			background-color: #fac31e ;
			width : 70% ;
			height : 110px ;
			margin : auto ;
			}
			
			.title-sub{
			text-shadow: 2px 2px var(--titleshadowcolor);
			color : #0f2f45 ;
			text-align : left ;
			height : 110px ;
			}
			
			.title-dub{
			text-decoration: underline black ;
			margin-top : -10px ;
			margin-right : 20px ;
			text-align : right ;
			height : 110px ;
			}

			.lentele{
			margin : auto ;
			width : 70% ;
			background-color: var(--frontcolor) ;
			color: var(--textcolor);
			text-align: center;
			}
			
			.pirmas{
			margin : auto ;
			width : 90% ;
			color: var(--textcolor) ;
			text-align: left ;
			}
			
			.antras{
			text-shadow: 1px 1px var(--titleshadowcolor);
			margin-left : 40px ;
			width : 250px ;
			color: var(--titlecolor);
			text-align: left ;
			}
			
			.tris{
			border : 1px solid var(--bordercolor);
			text-shadow: 1px 1px var(--shadowcolor);
			color : var(--textcolor) ; 
			text-align : center ;
			background-color: var(--frontcolor) ;
			width : 70% ;
			margin : auto ;
			}
			
			.tris ul{
			text-decoration: underline black ;
			line-height: 1.3;
			}

			.antras_antr{
			text-shadow: 1px 1px var(--titleshadowcolor);
			margin-left : 40px ;
			width : 170px ;
			color: var(--textcolor);
			text-align: left ;
			}
			
			.pristatimas{
			border : 1px solid var(--bordercolor);
			text-shadow: 1px 1px var(--shadowcolor);
			color : var(--textcolor) ; 
			text-align : center ;
			background-color: var(--frontcolor) ;
			width : 70% ;
			margin : auto ;
			}
			
			.bottomtitle-group{
			display : grid ;
			grid-template-columns: 33% 34% 33%;
			border : 1px solid var(--bordercolor);
			text-align : center ;
			background-color: #fac31e ;
			width : 70% ;
			height : 75px ;
			margin : auto ;
			}
			
			.bottomtitle-dub{
			text-decoration: underline black ;
			height : 100px ;
			}
			
			.kateg{
			text-shadow: 2px 2px var(--titleshadowcolor);
			margin : auto ;
			width : 70% ;
			color: var(--textcolor) ;
			text-align: left ;
			}
			
			.keturis{
			border : 1px solid var(--bordercolor);
			text-shadow: 1px 1px var(--shadowcolor);
			color : var(--textcolor) ; 
			text-align : left ;
			background-color: var(--frontcolor) ;
			width : 70% ;
			margin : auto ;
			}
			
			.aprasimas{
			text-shadow: 1px 1px var(--shadowcolor);
			color : var(--textcolor) ; 
			text-align : left ;
			background-color: var(--frontcolor) ;
			width : 90% ;
			margin : auto ;
			}
			
			.content_title_group{
			display : grid ;
			grid-template-columns: 40% 60%;
			background-color: var(--frontcolor);
			color: var(--textcolor);
			border : 1px solid var(--bordercolor);
			width: 70%;
			text-align: center;
			font-size: 15px;
			margin : auto ;
			}
			
			.item1{
			grid-row-start: 1 ;
			grid-row-end: 3 ;
			width : 80% ;
			}
			
			.content_title_sub{
			padding-top : 20px ;
			padding-bottom : 20px ;
			padding-right : 50px
			margin : auto ;
			
			}
			
			.content_title_sub h2{
			font-size: 4em;
			}
			
			.collapsible_2{
			background-color: var(--frontcolor);
			color: var(--textcolor);
			border : 1px solid var(--bordercolor);
			cursor: pointer;
			text-align: center;
			outline: none;
			font-size: 0.5em ;
			width : 15% ;
			margin : auto ;
			}
			
			.collapsible_2:hover{
			background-color: #fce7a9;
			}
			
			.content_2{
			grid-column-start: 1;
			grid-column-end: 3;
			max-height : 0 ;
			overflow : hidden;
			transition : max-height 0.1s ease-out;
			text-shadow: 1px 1px var(--shadowcolor);
			color : var(--textcolor) ; 
			text-align : left ;
			border : 1px solid var(--backgroundcolor);
			}
			
			

			
			
			